<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Rechteck</h2>
    <p>Breite: <%= breite %></p>
    <hr>
    <h2>Schüler</h2>
    <p>Geschlecht: <%= Geschlecht %></p>
    <p>Vorname: <%= vorname %></p>
    <p>ALter: <%= alter %></p>
    <h2>Fußballspieler</h2>
    <p>Name: <%= name %></p>
    <h2>Bank</h2>
    <p>Länge: <%= laenge %></p>
    <p>Breite: <%= breite %></p>
    <p>Höhe: <%= hoehe %></p>
</body>
</html>